header {
   position: absolute;
   top: 1.5em;
   left: 0;
   width: 100%;
   padding: 0 .5em;
   text-align: center;
   overflow: hidden;
   zoom:1}

header .logo {
   display: inline-block;
   height: 36px
}

header .logo .logo__part {
   display: inline-block;
   float: left;
   line-height: 36px;
   padding: 0 2px;
   margin: 0;
   font-size: 10px;
   font-weight: 400;
   color: grey
}

header .logo .logo__polygraph {
   width: 126px;
   height: 36px;
   fill: #2a2a2a
}
