body {
  font-family: 'Libre Baskerville', serif;
  color: #222;
  font-size: 16px;
}

h1, h2, h3, h4, .header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

a, a:visited, a:link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed;
  pointer-events: auto;
}

a:hover {
  border-bottom: 1px solid;
}

svg {
  pointer-events: auto;
}

text {
  fill: #666;
}

.music {
  padding: 3px 0;
  font-weight: 400;
  line-height: 1.8;
  cursor: pointer;
  pointer-events: auto;
}

.underline {
  border-bottom: 1px solid;
}

.background {
  background: rgba(255, 255, 255, 1);
  padding: 2px 10px;
  line-height: 1.8;
  pointer-events: auto;
}
