#hamilton-filter-root {
  font-family: 'Libre Baskerville', serif;
  color: #222;
  font-size: 14px;
}

#hamilton-filter-root h1, #hamilton-filter-root h2, #hamilton-filter-root h3, #hamilton-filter-root h4, #hamilton-filter-root .header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#hamilton-filter-root a, #hamilton-filter-root a:visited, #hamilton-filter-root a:link, #hamilton-filter-root .underline {
  text-decoration: none;
  border-bottom: 1px solid;
  pointer-events: auto;
  color: inherit;
  cursor: pointer;
}

#hamilton-filter-root a:hover, #hamilton-filter-root .underline:hover {
  border-bottom: 1px dashed;
}

#hamilton-filter-root svg {
  pointer-events: auto;
}

#hamilton-filter-root text {
  fill: #666;
}

#hamilton-filter-root .music {
  padding: 3px 0;
  font-weight: 400;
  line-height: 1.8;
  cursor: pointer;
  pointer-events: auto;
}

#hamilton-filter-root .background {
  background: rgba(255, 255, 255, 1);
  padding: 2px 10px;
  line-height: 1.8;
  pointer-events: auto;
}
